@model IEnumerable<SistemaPrestamos.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestion de prestamos</h1>
<br />
<br />

<p>
    <a class="crear" asp-action="Create">Nuevo Prestamo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MontoPrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TasaInteresAnual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlazoMeses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrecuenciaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinPrevista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TasaInteresMoraAnual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoPendiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaUltimoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminosAdicionales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MontoPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TasaInteresAnual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlazoMeses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrecuenciaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinPrevista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TasaInteresMoraAnual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoPendiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaUltimoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminosAdicionales)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrestamoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PrestamoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.PrestamoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<style>

    .crear {
        background-color: lightblue;
        border-radius: 5px;
        color: black;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;
    }

</style>