@model SistemaPrestamos.Models.ReciboCobro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReciboCobro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoPagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoPagado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoCapital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoCapital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoInteres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoInteres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTransaccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTransaccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prestamo.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReciboCobroId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
